:root
	--default-font: "Montserat", Arial, sans-serif

	--base-width: 1300px

	--body-bg-color: #f3f4f6
	--body-text-color: #333

	--base-font-size: 14px

	--main-color: #212e7d

	--second-color: #F4F4F4
	--thrid-color: #202730
	
	--border-color: #E5F0F9

	--default-shadow: 0px 8px 34px rgba(162, 210, 255, 0.08)

	--inline-padding: 40px

	--input-hor-spacing: 16px
	--input-vert-spacing: 24px