@import "../css/common.css"

@import "_vars.sss"
@import "_base.sss"
@import "_form-elements.sss"
@import "btns.sss"

@import "base-form.sss"
@import "my-select.sss"
@import "checkbox.sss"

@import "head.sss"
@import "auth-screen.sss"
@import "tabs.sss"

@import "catalog.sss"

.content

	> .wrapper
		display: flex
		flex: 1 1 auto
		align-self: stretch

		> *
			width: 100%